<%= form_for(@listing_card) do |f| %>
  <% if @listing_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing_card.errors.count, "error") %> prohibited this listing_card from being saved:</h2>

      <ul>
      <% @listing_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :memoword_id %><br />
    <%= f.number_field :memoword_id %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br />
    <%= f.number_field :card_id %>
  </div>
  <div class="field">
    <%= f.label :memorized %><br />
    <%= f.check_box :memorized %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
