<h1>Listing listing_cards</h1>

<table>
  <tr>
    <th>Memoword</th>
    <th>Card</th>
    <th>Memorized</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listing_cards.each do |listing_card| %>
  <tr>
    <td><%= listing_card.memoword_id %></td>
    <td><%= listing_card.card_id %></td>
    <td><%= listing_card.memorized %></td>
    <td><%= link_to 'Show', listing_card %></td>
    <td><%= link_to 'Edit', edit_listing_card_path(listing_card) %></td>
    <td><%= link_to 'Destroy', listing_card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing card', new_listing_card_path %>
